<html lang="en">
<head>
<!--    <link rel="stylesheet" href="assets/bolt.css">-->
    <link rel="stylesheet" href="assets/pico.css">
    <style>
        .icons li {
            float: left;
            padding: 10px;
            margin: 10px;
            width: 130px;
            height: 130px;
            border-radius: 10px;
            border: 1px solid black;
            list-style-type: none;
            text-align: center;
        }
        .icons li img {
            width: 50px;
            hight: 50px;
        }
    </style>
    <title>{{.Title}}::{{.Node.ComputedName}}</title>
</head>
<body>
<h1>{{.Title}} for {{.Node.ComputedName}}</h1>
<h3>Pull Requests</h3>
<ul>
    {{range .PullRequests}}
    <li>{{.Repo}} {{.Number}} ( {{.ID}} )</li>
    {{end}}
</ul>

<h3>Watch Items</h3>
<ul class="">
    {{range .Watches}}
    <li>{{.Name}}
        <ul>
            {{range .Data.Search.Edges}}
            <li>{{.Node.Title}} ({{.Node.CreatedAt}})</li>
            {{end}}
        </ul>
    </li>
    {{end}}
</ul>

<h3>Links</h3>
<ul class="icons">
    {{range .Links}}
    <li>{{.Name}}</li>
    {{end}}
</ul>

<foot>Remaining queries: {{.CurrentLimits.Remaining}}</foot>
</body>
</html>
